@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body{
    color: white;
    background: linear-gradient(270deg, #2d0b33, #78206c, #840454);
    background-size: 600% 600%;

    -webkit-animation: mainpageanim 30s ease infinite;
    -moz-animation: mainpageanim 30s ease infinite;
    animation: mainpageanim 30s ease infinite;

    font-family: 'Noto Sans JP', sans-serif;
}

@-webkit-keyframes mainpageanim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes mainpageanim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes mainpageanim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

html, body, .container, .container-fluid {
height: 100%;
}

.full-height{
    height:100%
}
.seperator{
    height:100%;
}

#mainpage {
    display: flex;
    align-items: center;
    justify-content: center;
}
a, a:visited, a:hover{
    color:#f12c91;
}

#about{
    align-items: center;
    height: fit-content;
    list-style-type: square;
}

#about ul, #accounts ul{
    list-style-type: none;
    font-size: 20px;
}

#accounts{
}

#bottombar{
    background-color: #000000;
    text-align: center;
    height:min-content;
    border-top: solid 15px #000000;
    border-bottom: solid 5px #000000;
}

#smolbutton{
    font-size: 8px;
}

.consolas {
    position: fixed;
    width: 500px;
    height: 200px;
    left: 73.3%;
    top: 78%;
}